{% extends 'base.html'%} {%block content %}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    font-size: large;
    border-bottom: 1px solid #ddd;
  }

  button {
    background-color: #cb202d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 30px;
    
  }
  .form-control {
    width: 50px; 
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <table style="margin-top: 30px">
        <tr>
          <th>Product</th>
          <th>Name</th>
          <th>price</th>
          <th>quantity</th>
        </tr>
        <tr>
          <td>
            <img src="{{product.image.url}}" width="200" style="margin-top:
            20px; margin-bottom: 20px;"
          </td>
          <td>{{product.product_name}}</td>
          <td>${{product.price}}</td>
          <td>
            <form action="" method="post">
              {{form.as_p}} 
              {%csrf_token%}
              <a href="{%url 'cart-list'}">
              <button a>Add</button>
              </a>
            </form>
          </td>         
        </tr>
      </table>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</div>

{%endblock content %}
