{% extends "base.html" %} {% load static %} {%block content%}
<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        {% comment %}
        <li><a href="#">Hot Deals</a></li>
        {% endcomment %}
        <li><a href="#">Electronics</a></li>
        <li><a href="#">Home Appliances</a></li>
        <li><a href="#">Laptop</a></li>
        <li><a href="#">HandBags</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- /ProductSECTION -->
<div class="container">
  <div class="row">
    <h1>Our Products</h1>

    {%for product in products%}

    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img">
          <img
            src="{{product.image.url}}"
            alt=""
            width="300px"
            height="300px"
          />
        </div>
        <div class="shop-body">
          <h3>{{product.product_name}}<br /></h3>
          <a href="#" class="cta-btn"
            >Shop Now <i class="fa fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <a href="{%url 'product-detail' product.id%}">
        <button
          style="
            background-color: #cb202d;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            margin-bottom: 20px;
            border-radius: 30px;
          "
        >
          View
        </button>
      </a>

      <style>
        a:hover button {
          background-color: #ff0000; 
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
        }

	
      </style>
    </div>

    {%endfor%}
  </div>
</div>
<!-- Product SECTION -->

<!-- Product preview -->

<!-- Product preview -->

{%endblock content%}
